body{
  background-color:$body-bg-color;
}

header, .main, footer{
  padding: 2em;
}

.main{
  background-color: #fff;
}

.row{
  margin: auto;
  width: 100%;
  max-width: $grid-max-width;
}

.col.content{
  width:75%;
}

.col.sidebar{
  width:25%;
}

//Proof of concept; full width block with delimited container inside
.section--accent{
  color:#000;
  background-color:#5cf;
}
