// ===============================================================
// LAYOUT >> Proof of concept; Shows how easy it is to quickstart
// a project using components.
// ===============================================================

// Base layout
// ===============================================================

body{
  background-color:$body-bg-color;
}

header, .main, footer{
  padding: 2em;
}

.main{
  background-color: #fff;
}

// Grid layout >> Extends the grid component
// ===============================================================

.col.content{
  width:75%;
}

.col.sidebar{
  width:25%;
}

.section--accent{
  color:#000;
  background-color:#5cf;
}
