// $BRAND

// Colorscheme
$primary-color: #336699;
$secondary-color: #f46801;
$body-bg-color: #fafafa;

// Typograpy
$header-font-family: "Georgia", serif;
$body-font-family: "Helvetica Neue", sans-serif;

// $SETTINGS
$grid-width: 1000px;
